.reader {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 3rem 0;
}

.reader > div {
    min-height: 5rem;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 1rem;
    width: 100%;
    height: 100%;
    background: var(--dark);
    position: relative;
}

.reader > div:first-child {
    border-radius: calc(var(--h1Size) * 0.25) calc(var(--h1Size) * 0.25) 0 0;
}

.reader > div:last-child {
    border-radius: 0 0 calc(var(--h1Size) * 0.25) calc(var(--h1Size) * 0.25);
}
