:root {
    --green: #3ab98b;
    --yellow: #ffed47;
    --blue: #0E43FF;
    --red: #FF4B43;
    --lightTransparent: #223246;
    --dark: #131622;
    --pink: #7532c8;
    --primary: rgb(85, 105, 125);

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body { margin: 1rem 2rem; }

a {
    font-size: 0.8em;
}

.area-holder {
    gap: 1rem;
    display: flex;
}

@media screen and (max-width: 600px) {
    .area-holder {
        gap: 2rem;
        margin: 2rem 0;
        flex-direction: column;
    }
}

.area-holder > .column {
    flex: 1;
}

.area-heading {
    font-weight: 600;
    font-size: 1.5rem;
}

.area {
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 1rem;
    border-radius: calc(var(--h1Size) * 0.25);
    background: var(--dark);
    position: relative;
    min-height: 5rem;
}

.parsed {
    width: 100%;
    height: 100%;
}

.parsed span {
    cursor: pointer;
}

.editable {
    outline: none;
    caret-color: #FFF;
    display: block;
    border: none;
    resize: none;
    background-color: transparent;
}

.hint {
    box-sizing: border-box;
    margin: 1rem 0;
    padding: 1rem;
    position: relative;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: var(--dark);
    border-radius: calc(var(--h1Size) * 0.25);
}

.hintFixed {
    left: 2rem;
    bottom: 2rem;
    right: 2rem;
    position: fixed;
    box-shadow: 0 0 3rem rgba(0, 0, 0, 0.5);
}

.legend {
    margin-top: 1rem;
    font-size: 0.8em;
    display: flex;
    gap: 0 1rem;
}

.verb { color: var(--green); }
.ad { color: var(--primary); }
.conj { color: var(--yellow); }
.mark { color: var(--primary); }

.box { box-sizing: border-box; }

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.links {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0 1rem;
}

.floor {
    width: 100%;
    height: 50vh;
}
