.hint {
    margin: 2em 0;
    border: 1px solid white;
}

body {
    margin: 3em;
}

.flex {
    display: flex;
}

.flex > div {
    min-width: 40%;
}

.noun {
    border-bottom: 1px solid var(--orange);
}

.verb {
    border-bottom: 1px solid var(--green);
}

.ad {
    border-bottom: 1px solid var(--purple);
}
